 <!-- Создаем блок для области заголовка -->
<header class = "nav-pills flex-column flex-sm-row">
    <!-- Создаем новую горизонтальную область (строку') -->
    <div class = "row">
        <!-- Внутри горизонтальной области определяем первую колонку
        шириной 3/12 -->
        <div class = "col-3">
            <!--Вывод логотипа-->
            <a href="/index_copy">
                <img src = "img/logo.jpg" id = "logo">
            </a>
        <!-- Завершаем первый столбец -->
        </div>
        <!-- Внутри горизонтальной области определяем вторую
        колонку, шириной 6/12 -->
        <div class = "col-6">
            <!-- Внутри выводим название -->
            <h1>СуперСпорт</h1>
            <!-- Завершаем второй столбец -->
        </div>
        <div class = "col-3" id="right">
            <a href="/registration">Регистрация</a>
            <a href="/authorization">Авторизация</a>
            <script src="js/header.js"></script> 
        </div>
    <!-- Завершаем строку --> 
    </div>
<!-- Завершаем описание области заголовка -->
</header>
<!--частичное представление -->
{{> menu}}