<div id = "menu">
    <!-- Начало flex-меню -->
    <nav class = "nav nav-pills flex-column flex-sm-row">
        <!-- Ссылка на главную страницу -->
            <a class = "flex-sm-fill text-sm-center nav-link" href = "/index_copy">Главная страница</a>
            <!-- Ссылка на страницу с одеждой -->
            <a class = "flex-sm-fill text-sm-center nav-link" href = "/clothes">Одежда</a>
            <!-- Ссылка на страницу с обувью -->
            <a class = "flex-sm-fill text-sm-center nav-link" href ="/shoes">Обувь</a>
            <a class = "flex-sm-fill text-sm-center nav-link" href ="/basket">Корзина</a>
            <a class = "flex-sm-fill text-sm-center nav-link" href ="/contacs">О нас</a>
            <a class = "flex-sm-fill text-sm-center nav-link" href ="/remarks-all">Отзывы</a>
    </nav>
</div>