<!doctype html>
<html lang = "ru">
    <head>
        <!-- Required meta tags -->
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width = device-width,
        initial-scale = 1, shrink-to-fit = no">
        <!-- Bootstrap CSS -->
        <!-- Здесь добавляем ссылку на собственные стили -->
        <!--Собственные стили-->
        <link rel = "stylesheet" href = "css/style.css" >
        <!--Подключаем bootstrap локально -->
        <link rel = "stylesheet" href = "css/bootstrap.min.css">
        <title>{{d.title}}</title>
    </head>
    <!-- Используем стиль body-top по умолчанию для всего документа-->
    <body class = "body-top">
        {{{body}}}
        {{> footer}}
        <script src="js/index.js"></script>     
        <!-- Конец блока с основным содержимым -->
    </body>
</html>
