<!-- Создаем блок для области заголовка -->
{{> header}}
<p>
    <form method="POST" class="flex">			
    <p>
        <label> Ваш логин:<br></label>
        <input name="login" type="text" size="30" maxlength="30">
    </p>
    <p>
        <label> Ваш пароль:<br></label>
        <input name="pass" type="password" size="20" maxlength="20">
    </p>
    <p>
        <input type="submit" name="submit" value="Войти">
    </p>
    </form>
</p>         
<!-- Конец блока с основным содержимым -->
