<!-- Создаем блок для области заголовка -->
{{> header}}
<p>
    <form method="POST" class="flex">
    <p>
        <label> Ваше имя:<br></label>
        <input name="name" type="text" size="30" maxlength="30" required>
    </p>
    <p>
        <label> Ваш логин:<br></label>
        <input name="login" type="text" size="20" maxlength="20" required>
    </p>
    <p>
        <label> Ваш пароль:<br></label>
        <input name="pass" type="password" size="20" maxlength="20" required>
    </p>
    <p>
        <input type="submit" name="submit" value="Зарегистрироваться">
    </p>
    </form>
</p>           
<!-- Конец блока с основным содержимым -->
