<!doctype html>
<html lang = "ru">
    <head>
        <!-- Required meta tags -->
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width = device-width,
        initial-scale = 1, shrink-to-fit = no">
        <!-- Bootstrap CSS -->
        <!-- Здесь добавляем ссылку на собственные стили -->
        <!--Собственные стили-->
        <link rel = "stylesheet" href = "css/style.css" >
        <!--Подключаем bootstrap локально -->
        <link rel = "stylesheet" href = "css/bootstrap.min.css">
        <title>Сайт магазина спортивной одежды и обуви</title>
    </head>
    <!-- Используем стиль body-top по умолчанию для всего документа-->
    <body class = "body-top">
        <!-- Создаем блок для области заголовка -->
        {{> header}}
        <p>
            <form method="POST" class="flex">
            <p>
                <label> Ваше имя:<br></label>
                <input name="name" type="text" size="30" maxlength="30" required>
            </p>
            <p>
                <label> Ваш логин:<br></label>
                <input name="login" type="text" size="20" maxlength="20" required>
            </p>
            <p>
                <label> Ваш пароль:<br></label>
                <input name="pass" type="password" size="20" maxlength="20" required>
            </p>
            <p>
                <input type="submit" name="submit" value="Зарегистрироваться">
            </p>
            </form>
        </p>           
        <!-- Конец блока с основным содержимым -->
    </body>
</html>
