<!-- Создаем блок для области заголовка -->
{{> header}}
<!-- Обертка для меню -->
<table class="flex">
    <!-- Первая строка таблицы -->
    <tr class="row">
        <td class="col">
            <a href="/catalog" class="clothes_links" id="Кроссовки" onClick="getClothesDetails(this)">
                <div>
                    <img src="img/sneakers.jpg" class="clothes_img">
                </div>
                <div>Кроссовки</div>
            </a>
        </td>
        <!-- Второй столбец первой строки -->
        <td class="col">
            <a href="/catalog" class="clothes_links" id="Ботинки" onClick="getClothesDetails(this)">
                <div>
                    <img src="img/boots.jpg" class="clothes_img">
                </div>
                <div>Ботинки</div>
            </a>
        </td>
    </tr>
</table>
<script>
    function getClothesDetails(obj){
        localStorage.setItem('Одежда', obj.id);
    }
    let type='Одежда';
    localStorage.setItem('Тип', type);
</script>            
<!-- Конец блока с основным содержимым -->
